@{
    ViewBag.Title = "About";
}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="mta">Что нужно было сделать</h2>
            <p>Требуется рассчитать оптимальный по стоимости состав сталеплавильной шихты, при котором в шихте содержится определенное процентное соотношение отдельных химических элементов и, кроме того, накладываются определенные требования на состав шихтовых материалов, основные характеристики которых представлены в таблицах для соответствующего варианта.</p>
        </div>
    </div>
</div>
